#settings {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-top: 1px gray solid;
}

.setting-description {
    font-size: 14px;
}

.setting-input {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .5px;
    cursor: pointer;
    text-align: center;
    line-height: 24px;
    height: 24px;
    border: none;
    border-bottom: solid grey 1px;
    padding: 0 16px;
    margin : 14px;
}

.more {
    text-align: center;
    width: 100%;
}

.more-button {
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
}

li {
    display: flex;
    flex-direction: row;
}
li > * {
    width: 50%;
}

ul {
    width: 100%;
}